
.bgfundo{
  background-image: url("../public/fundo.png");
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding: 65px 0 65px 0;
  text-align: center;
}

.textnome {
  color: #c30000;
  font-size: 13px;
  margin-top: 20px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 600;
}

.titulo{
  color: #fff;
  font-family: 'mixta-didone', serif;
  font-weight: 800;
  margin-top: 5px;
  font-size: 39px;
}

.button {
  display: flex;
  align-items: center;
}

.textbt {
  color: #ffffff;
  font-size: 18px;
  margin-left: 25px;
  text-align: center;
  width: 170px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 600;
}

.align {
  display: flex;
  align-items: center;
}

.animatedbutton1 {
  margin-top: 20px;
  background: linear-gradient(-30deg, rgba(98, 98, 98, 0.36) 50%, rgba(227, 227, 227, 0.18) 50%);
  padding: 13px 50px 13px 20px;
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  overflow: hidden;
  color: rgb(255, 255, 255);
  letter-spacing: 2.5px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 0 20px rgba(255, 0, 0, 0.20);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.20);
  border-radius: 5px;
  width: 320px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: 600;
}

.animatedbutton1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(215, 215, 215, 0.2);
  opacity: 0;
  -webkit-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out;
  border-radius: 5px;
}

.animatedbutton1:hover::before {
  opacity: 0.2;
}

.animatedbutton1 .span {
  position: absolute;
}

.animatedbutton1 .span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#c30000));
  background: linear-gradient(to left, rgba(43, 8, 8, 0), #c30000);
  -webkit-animation: 2s animateTop linear infinite;
  animation: 2s animateTop linear infinite;
  border-radius: 5px;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.animatedbutton1 .span:nth-child(2) {
  top: 0;
  right: 0;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#c30000));
  background: linear-gradient(to top, rgba(43, 8, 8, 0), #c30000);
  -webkit-animation: 2s animateRight linear -1s infinite;
  animation: 2s animateRight linear -1s infinite;
  border-radius: 5px;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.animatedbutton1 .span:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#c30000));
  background: linear-gradient(to right, rgba(43, 8, 8, 0), #c30000);
  -webkit-animation: 2s animateBottom linear infinite;
  animation: 2s animateBottom linear infinite;
  border-radius: 5px;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.animatedbutton1 .span:nth-child(4) {
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#c30000));
  background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #c30000);
  -webkit-animation: 2s animateLeft linear -1s infinite;
  animation: 2s animateLeft linear -1s infinite;
  border-radius: 5px;
}
.desalinhado {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.icon {
  margin-top: 2px;
  margin-bottom: -2px;
}
